<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<div layout:fragment="container">

	<!-- Pagination Bar -->
	<div th:fragment='paginationbar' class="row">

		<div class="col-md-3">
			<div style="margin: 20px;">
				<form action="/history" method="get" class="form-inline">
					<div class="form-group">
						<label for="items-per-page">Items / Page:</label> <select
							name="size" id="items-per-page" class="form-control">
							<option>10</option>
							<option>20</option>
							<option>50</option>
							<option>100</option>
							<option>1000</option>
						</select> <input type="hidden" name="page" th:value="${number}" />
						<button type="submit" class="btn btn-default">Go</button>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<div class="text-center">
				<ul class="pagination">
					<!-- 				<li th:if='${firstPage}'></li> -->
					<li th:class="${firstPage}? disabled"><span
						th:if='${firstPage}'>← First</span> <a th:if='${not firstPage}'
						th:href='@{${url}(page=0,size=${size})}'>←First</a></li>
					<li th:class="${not hasPreviousPage}? disabled"><span
						th:if='${not hasPreviousPage}'>«</span> <a
						th:if='${hasPreviousPage}'
						th:href='@{${url}(page=${number - 1},size=${size})}'
						title='Go to previous page'>«</a></li>
					<!-- 				<li th:each='item : ${items}' th:class='${item.current}? active : ""'> -->
					<!-- 					<span th:if='${item.current}' th:text='${item.number}'>1</span> <a -->
					<!-- 					th:if='${not item.current}' -->
					<!-- 					th:href='@{${url}(page=${item.number},size=${size})}'><span -->
					<!-- 						th:text='${item.number}'>1</span></a> -->
					<!-- 				</li> -->
					<li th:class="${not hasNextPage}? disabled"><span
						th:if='${not hasNextPage}'>»</span> <a th:if='${hasNextPage}'
						th:href='@{${url}(page=${number+1},size=${size})}'
						title='Go to next page'>»</a></li>
					<li th:class="${lastPage}? disabled"><span th:if='${lastPage}'>Last
							→</span> <a th:if='${not lastPage}'
						th:href='@{${url}(page=${totalPages},size=${size})}'>Last →</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div th:include="history/table :: table"></div>

	<!-- 	<div class="table-pagination"> -->
	<!-- 		<ul class="pagination"> -->
	<!-- 			<li th:class="${contactsPage.number eq 0} ? 'disabled' : ''"><a -->
	<!-- 				th:if="${not contactsPage.firstPage}" -->
	<!-- 				th:href="@{${'/contacts'}(page=${contactsPage.number-1},size=${contactsPage.size})}">Previous</a> -->
	<!-- 				<a th:if="${contactsPage.firstPage}" href="javascript:void(0);">Previous</a> -->
	<!-- 			</li> -->

	<!-- 			<li -->
	<!-- 				th:each="pageNo : ${#numbers.sequence(0, contactsPage.totalPages - 1)}" -->
	<!-- 				th:class="${contactsPage.number eq pageNo}? 'active' : ''"><a -->
	<!-- 				th:if="${contactsPage.number  eq pageNo}" href="javascript:void(0);"> -->
	<!-- 					<span th:text="${pageNo + 1}"></span> -->
	<!-- 			</a> <a th:if="${not (contactsPage.number  eq pageNo)}" -->
	<!-- 				th:href="@{${'/contacts'}(page=${pageNo},size=${contactsPage.size})}"> -->
	<!-- 					<span th:text="${pageNo + 1}"></span> -->
	<!-- 			</a></li> -->
	<!-- 			<li -->
	<!-- 				th:class="${contactsPage.number + 1 ge contactsPage.totalPages} ? 'disabled' : ''"> -->
	<!-- 				<a th:if="${not contactsPage.lastPage}" -->
	<!-- 				th:href="@{${'/contacts'}(page=${contactsPage.number+1},size=${contactsPage.size})}">Next</a> -->
	<!-- 				<a th:if="${contactsPage.lastPage}" href="javascript:void(0);">Next</a> -->
	<!-- 			</li> -->
	<!-- 		</ul> -->
	<!-- 	</div> -->
	<br /> <br /> <br />
</div>
</html>