<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="table">
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Visited</th>
				<th>Client</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="history : ${histories}">
				<td><a th:href="${history.uri}"
					th:text="${#strings.abbreviate(history.title, 60)}"
					th:title="${history.title}">VisitedAt</a></td>
				<td th:text="${history.visitedAt}">VisitedAt</td>
				<td th:text="${history.clientId}">Client</td>
			</tr>
		</tbody>
	</table>
	<br /> <br /> <br />
</div>
</html>