<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="table">
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Visited</th>
				<th>Client</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="history : ${histories}">
				<td><a th:href="${history.uri}"
					th:text="${#strings.abbreviate(history.title, 140)}"
					th:title="${history.title}">VisitedAt</a></td>
				<td th:text="${#dates.format(history.visitedAt, 'dd.MM.yyyy'':''H:mm')}">VisitedAt</td>
			</tr>
		</tbody>
	</table>
</div>
</html>